# dependencies
node_modules/

# Ignore node_modules in both client and server
shopping-list-app/client/node_modules/
shopping-list-app/server/node_modules/

# Ignore build outputs
shopping-list-app/client/build/
shopping-list-app/server/dist/

# Miscellaneous
.DS_Store
Thumbs.db

# Log files
*.log

# Environment variables
shopping-list-app/client/.env
shopping-list-app/server/.env

# Ignore Docker-related files
docker-compose.override.yml

# Ignore npm and Yarn logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
