/* Existing styles */
.App {
  font-family: sans-serif;
  text-align: center;
}

/* Responsive image */
.responsive-img {
  width: 100%;
  max-width: 50px;
  height: auto;
}

/* Hide specific columns on small screens */
@media (max-width: 600px) {
  .hide-on-mobile {
    display: none;
  }
}

/* Add custom styles here */

/* Top row styles */
.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.title-section {
  display: flex;
  align-items: center;
}

.header-text {
  font-size: 1.2rem; /* Adjusted font size for better responsiveness */
  margin-left: 10px;
}

.total-items {
  margin-left: auto;
  text-align: right;
}

.table-header {
  background-color: #ffe6f0;
}

.table-container {
  margin-top: 20px; /* Upper margin for the table container */
}

@media (min-width: 600px) {
  .header-text {
    font-size: 1.5rem; /* Adjusted font size for larger screens */
  }
}

@media (max-width: 600px) {
  .header-text {
    font-size: 1rem; /* Smaller font size for small screens */
  }

  .total-items {
    width: 100%;
    text-align: right;
    margin-top: 10px;
  }
}
